* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body {
   background-image: url(../bg.jpg);
   background-size: cover;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form {
   width: 35vw;
}

.form>div {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
}

.form h1 {
   text-align: center;
   font-size: 40px;
   margin-bottom: 20px;
}

.form label {
   margin-bottom: 5px;
   font-weight: 500;
}

.form input {
   height: 40px;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 0 10px;
}

.form input:focus {
   border: 1px solid skyblue;
   outline: 2px solid skyblue;
   box-shadow: 0px 0px 10px 3px skyblue;
}

.form input[type="submit"] {
   color: #fff;
   font-weight: 600;
   cursor: pointer;
   border: 2px solid blue;
   background: rgb(83, 73, 255);
   background: linear-gradient(180deg, rgba(83, 73, 255, 1) 0%, rgba(51, 51, 215, 1) 50%, rgba(29, 0, 121, 1) 100%);
}