* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: rgb(20, 20, 20);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(160, 160, 160);
   font-family: sans-serif;
}

.form {
   width: 30%;
   border: 1px solid rgb(50, 50, 50);
   min-height: 50vh;
}

.form h1 {
   padding: 5px;
   text-transform: uppercase;
   background-color: rgb(50, 50, 50);
}

.form>div {
   display: flex;
   border-top: 1px solid rgb(50, 50, 50);
   padding: 15px 0;
}

.form div label {
   width: 30%;
   padding-right: 10px;
   text-align: right;
}

.form div div {
   width: 70%;
}

.form div div input, .form div div textarea {
   background-color: rgb(50, 50, 50);
   border: 1px solid rgb(70, 70, 70);
   color: rgb(160, 160, 160);
   padding: 5px;
}

.form div div input {
   width: 50%;
   outline: none;
}

textarea {
   outline: none;
   width: 95%;
   height: 15vh;
   resize: none;
}


input[type="submit"] {
   background-color: red;
   color: rgb(200, 200, 200);
   padding: 10px;
}

.form .button {
   display: flex;
   justify-content: flex-end;
   border: none;
   margin-right: 20px;
   padding: 0;
}