* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.main {
   background: url(../img/bg1.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   min-height: 100vh;
}

.main__grid {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 25vh 25vh 25vh 25vh;
}

.main__grid>div {
   position: relative;
   border: 1px solid rgba(255, 255, 255, .5);
}

.main__grid>div:nth-child(2) {
   grid-row: 1/4;
   grid-column: 2/3;
   background: red;
   position: relative;
   z-index: 10;
}

.main__plus {
   color: #fff;
   position: absolute;
   top: -10px;
   left: -6px;
}

.main__grid>div:nth-child(1) {
   position: relative;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.main__grid .main__logo {
   font-size: 50px;
}

.main__grid .main__number {
   position: absolute;
   right: 10px;
   top: 5px;
}

.main__cloud {
   position: absolute;
   bottom: 0;
   right: 0;
   font-size: 170px;
   color: #fff;
}

.main__grid>div:nth-child(17),
.main__grid>div:nth-child(18),
.main__grid>div:nth-child(19) {
   position: relative;
}

.main__grid>div:nth-child(17)::before,
.main__grid>div:nth-child(18)::before,
.main__grid>div:nth-child(19)::before {
   content: '';
   height: 100%;
   width: 100%;
   position: absolute;
   background: rgba(255, 255, 255, .5);
}

.teams {
   background: url(../img/bg2.jpg);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 100vh;
}

.teams__grid {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 25vh 25vh 25vh 25vh;
}

.teams__grid>div {
   position: relative;
   border: 1px solid rgba(255, 255, 255, .5);
}

.teams__plus {
   color: #fff;
   position: absolute;
   top: -10px;
   left: -6px;
}

.teams__grid>div:nth-child(8) {
   grid-row: 2/4;
   grid-column: 2/6;
   background-color: red;
   z-index: 10;
}

@media screen and (max-width: 668px) {
   .main__grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
   }

   .main__grid .main__number {
      display: none;
   }
}